@import url("./__content/page__content.css");
@import url("./__section/page__section.css");

.page {
  font-family: 'Inter', Arial, sans-serif;
  height: 100vh;
  display: flex;
  gap: var(--main-gap);
  flex-direction: column;
  background: linear-gradient(0deg, #000 0%, var(--background-color) 80%) no-repeat;
  color: var(--main-text-color);

}
